.header
  background-color: $white
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.20)
  height: em(65)
  overflow: visible
  padding: em(5) 0
  position: fixed
  top: 0
  width: 100%
  z-index: 200

  .container
    align-items: center
    display: flex
    justify-content: space-between

  &-logo
    display: inline-block
    height: em(55)
    width: em(55)
    position: relative
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    img
      height: em(55)

  &-nav
    align-items: center
    color: #4f4f4f
    display: flex
    font-size: em(16)
    font-weight: 600
    color: $textBlack
    @include mediaQuery(phone)
      display: none
    li
      display: inline-block
      &:not(:last-child)
        margin: 0 em(60) 0 0
      a
        border-bottom: em(2) solid transparent
        display: inline-block
        line-height: 1
        padding-bottom: em(1)
        &.active
          border-bottom-color: #bebebe
        &:hover
          text-decoration: none
          border-bottom-color: $textBlack

  &-lang
    @include mediaQuery(phone)
      display: none
    a.active
      color: $textRed

  &-burger
    cursor: pointer
    display: none
    height: 55px
    width: 45px
    padding: 16px 0
    flex-flow: column
    justify-content: space-between
    align-items: flex-end
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    @include mediaQuery(phone)
      display: flex
    .line
      background-color: #1b1b1b
      display: block
      height: 3px
      width: 31px
      transition: all 0.3s ease-in-out

.mobile-nav
  position: fixed
  top: 0
  bottom: 0
  background-color: #43494c
  z-index: 300
  width: 75%
  left: calc(-75% - 8px)
  box-shadow: 0px 1px 8px #333
  transition: all 0.3s ease-in-out
  max-width: 300px

  &-logo
    display: inline-block
    height: em(65)
    width: em(55)
    padding: em(5) 0
    position: relative
    margin-left: em(25)
    img
      height: em(55)

  &-list
    list-style: none
    padding: 0
    margin: 0
    li
      border-top: 1px solid #3c3c3c
      a
        color: $white
        text-transform: uppercase
        font-size: 0.875em
        display: block
        padding: 15px 25px
        &:hover
          background-color: #3c3c3c
          text-decoration: none
      &:last-child
        border-bottom: 1px solid #3c3c3c

.mobile-nav-is-visible
  .mobile-nav
    @include mediaQuery(phone)
      left: 0
      overflow-y: auto
  .header-burger span.top
    transform: translateY(9px) rotate(-45deg)
  .header-burger span.bottom
    transform: translateY(-11px) rotate(45deg)
  .header-burger span.middle
    opacity: 0
