// Root
html
  box-sizing: border-box
  font-size: $base-font-size
  min-height: 100%
  position: relative
body
  background-color: $white
  font:
    family: $base-font-family
    weight: $base-font-weight
  line-height: $base-line-height
*, *:before, *:after
  box-sizing: inherit

// Links
a
  color: $linkColor
  text-decoration: none
  outline: 0
  &:hover
    color: $linkColorHover
