// Typography
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.45;

// Background Colors
$black: #000
$blue: #2a334f
$blueLight: #2aa3e4
$gray: #bbb
$grayDark: #4f4f4f
$grayLight: #f1f1f1
$white: #fff

// Text Colors
$textBlack: #4f4f4f
$textGray: #4e4e4e
$textBlue: #274374
$textRed: #da6e51
$textGreen: #3a9a32

// Social
$facebook: #3a589b
$linkedIn: #007ab9
$email: #3498db
