// Typography
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.45;

// Background Colors
$black: #000
$blue: #2a334f
$gray: #bbb
$grayDark: #4f4f4f
$grayLight: #f1f1f1
$white: #fff

// Link Colors
$linkColor: #4f4f4f
$linkColorHover: #4f4f4f

// Text Colors
$textBlack: #4f4f4f
$textBlue: #274374
$textRed: #da6e51
