header.header
  .container
    a(href='#').header-logo ITTA

    nav.header-nav
      a(href='#') News
      a(href='#') Projects
      a(href='#') About Us
      a(href='#') Our Team
      a(href='#') Contacts

    ul.header-languages
      li
        a(href='#') UA
      li.header-languages--separator /
      li
        a(href='#') EN
