header.header
  .container
    a(href='#').header-logo
      img(src='/assets/svg/logo.svg' alt='ITTA Youth NGO logo')

    ul.header-nav
      li
        a(href='#') News
      li
        a(href='#') Projects
      li
        a(href='#') About Us
      li
        a(href='#') Our Team
      li
        a(href='#') Contacts
      li
        a(href='#') UA
        br
        a(href='#' class='active') EN
