section#news.news
  .container
    h2.news-title News
    
    .news-items
      .news-item
        .news-item--img
          span
        .news-item--desc
          h3.news-item--title News item title
          p.news-item--date 16.03.2016
          p.news-item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          a.news-item--link(href='#') read more

      .news-item
        .news-item--img
          span
        .news-item--desc
          h3.news-item--title News item title
          p.news-item--date 16.03.2016
          p.news-item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          a.news-item--link(href='#') read more

      .news-item
        .news-item--img
          span
        .news-item--desc
          h3.news-item--title News item title
          p.news-item--date 16.03.2016
          p.news-item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          a.news-item--link(href='#') read more

      .news-item
        .news-item--img
          span
        .news-item--desc
          h3.news-item--title News item title
          p.news-item--date 16.03.2016
          p.news-item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          a.news-item--link(href='#') read more
    
    a(href='#').news-link Subscribe
