section.slider
  .container
    .slider-logo
      img(src='/assets/svg/logo-square.svg' alt='ITTA Youth NGO logo')

    .slider-desc
      h2.slider-title ITTA
      p.slider-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio unde, tenetur hic. Cupiditate, fuga, soluta.
