section#team.team
  .container
    h2.team-title Our Team
  
  .team-items
    .team-item
      .team-item--img
        span
      .team-item--name Joe Capella
      .team-item--position Founder
      .team-item--sosial
        a(href="").facebook
        a(href="").email
        a(href="").linkedin
