<header class="header">
  <div class="container">

    <a href="{{ site.baseurl }}/#slider" class="header-logo">
      <img src="/assets/svg/logo-rectangle.svg" alt="ITTA Youth NGO logo"/>
    </a>

    <ul class="header-nav">
      <li><a href="{{ site.baseurl }}/#projects">Projects</a></li>
      <li><a href="{{ site.baseurl }}/#about">About Us</a></li>
      <li><a href="{{ site.baseurl }}/#contacts">Contacts</a></li>
      <li><a href="{{ site.baseurl }}/news">News</a></li>
    </ul>
    
    <ul class="header-lang">
      <li><a href="#">UA</a></li>
      <li><a href="#" class="active">EN</a></li>
    </ul>

  </div>
</header>
