.slider
  .container
    align-items: center
    display: flex
    justify-content: space-between
    min-height: calc(100vh - 65px)
    @include mediaQueryMax(em(690))
      flex-flow: column
      justify-content: space-around

  &-logo
    margin: em(50) 0
    width: 40%
    img
      width: 100%
    @include mediaQuery(huge)
      width: 35%
    @include mediaQuery(desktop)
      width: 40%
    @include mediaQueryMax(em(690))
      width: 40vh 
      margin: 5vh 0 0

  &-desc
    color: $textBlue
    text-align: center
    width: 50%
    @include mediaQuery(huge)
      font-size: em(14)
    @include mediaQuery(large)
      font-size: em(13)
    @include mediaQuery(tablet)
      font-size: em(12)
    @include mediaQueryMax(em(690))
      margin: 0 0 5vh
      width: 100%
      max-width: 315px

  &-title
    font-size: em(110)
    line-height: 1
    padding: rem(25) 0
    @include mediaQuery(huge)
      font-size: em(100)
    @include mediaQueryMax(em(690))
      padding: 0

  &-text
    font-size: em(24)
    line-height: 1.4
    padding: rem(25) 0
    margin: 0 auto
    max-width: rem(500)
    @include mediaQuery(huge)
      max-width: rem(450)
    @include mediaQuery(large)
      padding: rem(20) 0
      max-width: rem(420)
    @include mediaQuery(desktop)
      padding: rem(15) 0
      max-width: rem(400)
    @include mediaQueryMax(em(690))
      padding-bottom: 0
