.team
  padding: em(50) 0 em(100)

  &-title
    color: $textBlack
    font-size: em(40)
    font-weight: 400
    line-height: 1
    text-transform: uppercase

  &-items
    display: flex
    justify-content: space-around
    align-items: center
    @include mediaQuery(desktop)
      flex-wrap: wrap
      margin-top: em(15)
    @include mediaQuery(tablet)
      justify-content: space-between
  &-item
    text-align: center
    color: $textBlack
    margin-top: em(95)
    @include mediaQuery(desktop)
      width: em(290)
      background-color: $grayLight
      padding: em(60) 0
      margin-top: em(40)
    &--img
      position: relative
      margin: 0 auto em(30)
      width: em(150)
      &:before
        content: ""
        display: block
        padding-top: 100%
        width: 100%
      span
        bottom: 0
        background-color: $gray
        border-radius: 50%
        left: 0
        position: absolute
        right: 0
        top: 0
    &--name
      font-size: em(20)
      font-weight: 600
      margin-bottom: rem(5)
    &--position
      font-size: em(20)
      margin-bottom: rem(10)
    &--social
      display: flex
      justify-content: center
      align-items: center
      .devider
        font-size: em(34)
        color: $textBlack
        margin: 0 5px
        font-weight: 300
        line-height: 1
      a
        display: inline-block
        filter: grayscale(100%)
        height: em(36)
        width: em(36)
        margin: 0 5px
        &:hover
          filter: grayscale(0)
      .facebook
        background-image: url(../svg/facebook.svg)
      .email
        background-image: url(../svg/envelope.svg)
      .linkedin
        background-image: url(../svg/linkedin.svg)
