section#smooth_contacts.contacts
  .container
    h2.contacts-title Contact Us
    p.contacts-desc We respect the privacy and confidentiality of the visitors and partners of our website. It is our reassurance, that your personal information will not be misused.
    
    .contacts-items
      .contacts-item
        .contacts-item--title Subscribe to our news
        form.contacts-item--form.js-form-submit(action="https://script.google.com/macros/s/AKfycbz4bTsnmIPBOIawGxEC6Cb6jTUL2nZvVwk1q0lW3sSr6Oh1uasL/exec")
          .field
            input(type="email" name="Email" placeholder="Email" class="required")
          button(type="submit" disabled="disabled") subscribe
      .contacts-item
        .contacts-item--title Follow us on social media
        .contacts-item--social
          a(href="https://www.facebook.com/NGO.ITTA" target="_blank").facebook
          a(href="https://vk.com/ngoitta" target="_blank").vk

    .contacts-items
      .contacts-item
        .contacts-item--title Quick Inquiry
        form#form_message.contacts-item--form.js-form-submit(action="https://script.google.com/macros/s/AKfycbz4bTsnmIPBOIawGxEC6Cb6jTUL2nZvVwk1q0lW3sSr6Oh1uasL/exec")
          .field
            input(type="text" name="Name" placeholder="Name" class="required")
          .field
            input(type="email" name="Email" placeholder="Email" class="required")
          .field
            textarea(name="Message" placeholder="Your message" class="required")
          button(type="submit") submit
      .contacts-item
        .contacts-item--title Our address
        .contacts-item--text 1 Kotsiubynskogo St., Chernivtsi, Ukraine, 58000
        .contacts-item--title Call us
        .contacts-item--text +380509347961
        .contacts-item--title Email
        .contacts-item--text youthngoitta@gmail.com
