section#smooth_projects.projects
  .container
    h2.projects-title Projects
    
    .projects-items
      .projects-item
        .projects-item--img
          span
        .projects-item--desc
          h3.projects-item--title News item title
          p.projects-item--date 16.03.2016
          p.projects-item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          a.projects-item--link(href='#') read more

      .projects-item
        .projects-item--img
          span
        .projects-item--desc
          h3.projects-item--title News item title
          p.projects-item--date 16.03.2016
          p.projects-item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          a.projects-item--link(href='#') read more

      .projects-item
        .projects-item--img
          span
        .projects-item--desc
          h3.projects-item--title News item title
          p.projects-item--date 16.03.2016
          p.projects-item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          a.projects-item--link(href='#') read more

      .projects-item
        .projects-item--img
          span
        .projects-item--desc
          h3.projects-item--title News item title
          p.projects-item--date 16.03.2016
          p.projects-item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          a.projects-item--link(href='#') read more
    
    a(href='{{ site.baseurl }}/projects/').projects-link View All Projects
