section#smooth_slider.slider
  .container
    .slider-logo
      img(src='/assets/svg/logo-square.svg' alt='ITTA Youth NGO logo')

    .slider-desc
      h2.slider-title ITTA
      p.slider-text We are non-governmental non-profit organization based in Ukraine established by and for young people.
