section#smooth_team.team
  .container
    h2.team-title Our Team
  
    .team-items
      .team-item
        .team-item--img
          span
        .team-item--name Maryna Zhyriada
        .team-item--position Chairperson
        .team-item--social
          a(href="" target="_blank").facebook
          a(href="" target="_blank").email
          a(href="" target="_blank").linkedin
      .team-item
        .team-item--img
          span
        .team-item--name Olga Kutynina
        .team-item--position Project Coordinator
        .team-item--social
          a(href="" target="_blank").facebook
          a(href="" target="_blank").email
          a(href="" target="_blank").linkedin
      .team-item
        .team-item--img
          span
        .team-item--name Oksana Tykhovska
        .team-item--position Project Manager, Trainer
        .team-item--social
          a(href="" target="_blank").facebook
          a(href="" target="_blank").email
          a(href="" target="_blank").linkedin
      .team-item
        .team-item--img
          span
        .team-item--name Ilya Anyol / Ilya Toka
        .team-item--position Designer / Developer
        .team-item--social
          a(href="" target="_blank").facebook
          span.devider /
          a(href="" target="_blank").facebook
