<section id="smooth_team" class="team">
  <div class="container">

    <h2 class="team-title">Our Team</h2>

    <div class="team-items">
      <div class="team-item">
        <div class="team-item--img">
          <img src="{{ site.baseurl }}/assets/img/team_5.png" alt="Vasyl Fomenko"/>
        </div>
        <div class="team-item--name">Vasyl Fomenko</div>
        <div class="team-item--position">Chairperson</div>
        <div class="team-item--social">
          <a href="#"></a>
          {% comment %}<a href="https://www.facebook.com/Marina.Liluscare" target="_blank" class="facebook"></a>{% endcomment %}
        </div>
      </div>

      <div class="team-item">
        <div class="team-item--img">
          <img src="{{ site.baseurl }}/assets/img/team_2.png" alt="Olga Kutynina"/>
        </div>
        <div class="team-item--name">Olga Kutynina</div>
        <div class="team-item--position">Project Coordinator</div>
        <div class="team-item--social">
          <a href="https://www.facebook.com/ola.olko.14" target="_blank" class="facebook"></a>
          <a href="mailto:olgakutynina@yahoo.com" class="email"></a>
          {% comment %}<a href="" target="_blank" class="linkedin"></a>{% endcomment %}
        </div>
      </div>

      <div class="team-item">
        <div class="team-item--img">
          <img src="{{ site.baseurl }}/assets/img/team_3.png" alt="Oksana Tykhovska"/>
        </div>
        <div class="team-item--name">Oksana Tykhovska</div>
        <div class="team-item--position">Project Manager, Trainer</div>
        <div class="team-item--social">
          <a href="https://www.facebook.com/kasannka" target="_blank" class="facebook"></a>
          {% comment %}<a href="" class="email"></a>{% endcomment %}
          {% comment %}<a href="" target="_blank" class="linkedin"></a>{% endcomment %}
        </div>
      </div>

      <div class="team-item">
        <div class="team-item--img">
          <img src="{{ site.baseurl }}/assets/img/team_4.png" alt="Illya Toka / Illya Anyol"/>
        </div>
        <div class="team-item--name">Illya Toka / Illya Anyol</div>
        <div class="team-item--position">Developer / Designer</div>
        <div class="team-item--social">
          <a href="https://www.facebook.com/ilya.toka" target="_blank" class="facebook"></a>
          <span class="devider">/</span>
          <a href="https://www.facebook.com/illya.anyol" target="_blank" class="facebook"></a>
        </div>
      </div>
    </div>

  </div>
</section>
