header.header
  .container
    a(href='{{ site.baseurl }}/#slider').header-logo
      img(src='/assets/svg/logo-rectangle.svg' alt='ITTA Youth NGO logo')

    ul.header-nav
      li
        a(href='{{ site.baseurl }}/#projects') Projects
      li
        a(href='{{ site.baseurl }}/#about') About Us
      li
        a(href='{{ site.baseurl }}/#contacts') Contacts
      li
        a(href='{{ site.baseurl }}/news') News

    ul.header-lang
      li
        a(href='#') UA
      li
        a(href='#' class='active') EN
