{% for post in site.categories.news %}
  <div class="post">
    <img src="{{ site.baseurl }}/assets/img/news/{{ post.item-image }}" alt="{{ post.item-image-alt }}"/>

    <div class="post-header">
      <p class="title">{{ post.title }}</p>
      <p class="caption">Announced<span class="devider">|</span><span class="date">{{ post.item-date }}</span></p>
    </div>

    <div class="post-desc">
      <p>{{ post.item-desc-full }}</p>
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="post-button">Read More</a>
  </div>
{% endfor %}
